.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.main-nav__toogle {
  display: none;
}

.site-list__item {
  // color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
